config ipv6
	option 'policy_filter' '1'
	option 'managed' '0'
	option 'default_dev' 'ge00'
	option 'default_gw_dev' 'ge00'
	option 'enable' '1'

config ula
	option 'enable' 1
#	option 'net' 'fd43:e2b3:341c::/48'
	list 'nointerface' 'ge00'

config 6to4
	option 'enable' '0'
#	option 'net' '2002:some:addr::/48'

config 6in4
	option 'enable' '0'
#	option 'net' 'fd43:e2b3:341c::/48'

config dhcpv6
	option 'enable' '0'
	option 'pd' '1'
	option 'distribute' '1'
	option 'pd_retain' '1'
#	option 'net' 'fd43:e2b3:341c::/48'

