config ipset
        option name bcp38-ipv4
        option family ipv4
        option match dest_net
        option storage hash

config ipset
        option name bcp38-ipv4-ingress
        option external bcp38-ipv4
        option family ipv4
        option match src_net
        option storage hash

config rule
        option src 'wan'
        option ipset 'bcp38-ipv4-ingress'
        option family 'ipv4'
        option name 'drop-bcp38-ipv4'
        option target 'DROP'
        option proto 'all'

config rule
        option src 'wan'
        option dest '*'
        option ipset 'bcp38-ipv4-ingress'
        option family 'ipv4'
        option name 'drop-bcp38-ipv4'
        option target 'DROP'
        option proto 'all'

config rule
        option dest 'wan'
        option ipset 'bcp38-ipv4'
        option name 'reject-bcp38-ipv4'
        option family 'ipv4'
        option target 'REJECT'
        option proto 'all'

config rule
        option dest 'wan'
        option src '*'
        option ipset 'bcp38-ipv4'
        option name 'reject-bcp38-ipv4'
        option family 'ipv4'
        option target 'REJECT'
        option proto 'all'

