interface lan
	config 'option' 'txqqueuelen' '16'
interface wan
	config 'option' 'txqqueuelen' '4'
interface wireless
	config 'option' 'txqueuelen' '4'
interface wirelessn
	config 'option' 'txqueuelen' '16'
interface wired10
	config 'option' 'txqueuelen' '4'
interface wired100
	config 'option' 'txqueuelen' '16'
interface wired1000
	config 'option' 'txqueuelen' '32'

