body, html { 
  color: #000000;
  background: #ffffff;
  padding-left: .1em;
  padding-right:.1em;
}

img {  
  border-style: none;
}

h1 {
    padding-top: 20px;
    font-weight: bold ;
}

h3 {
        font-size: 145% ;
        font-weight: bold ;
        color: #4A4A3C ;
}


a {
        text-decoration: none ;
        color: #991133 ;
	background: #ffffff;	
}

a:hover {
        text-decoration: underline
}

body {
        font-family: arial, sans-serif ;
        background-color: #ffffff ;
        font-size: 12pt ;
        margin: 3px;
	background-image:url('cerowrt2.png');
	background-repeat:no-repeat;
	background-position:right top;
}

ul {
	padding-left: 2.5em;
}

li {
	padding-bottom: 0px;
}

div.menu ul
{
position:fixed;
background-color:#98bf21;
top:0px;
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
div.menu li
{
padding-right: 1em;
float:left;
}
div.menu a:link,a:visited
{
display:block;
/* width:150px;*/
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
}
div.menu a:hover,a:active
{
background-color:#7A991A;
}

a:visited { 
  background: #ffffff;
  color:  #408860;
}


p.lastupdated { 
  font-size: 70%;
  font-style: italic;
  margin-bottom: 0;
}

p.contact {
  margin-top: 0;
  font-size: 70%;
}

p.footnote {
  margin-top: 0;
  font-size: 85%;
}

nav {
  top: 4px;
  margin-top: 0;
  font-size: 100%;
}

