package babeld

config general
	# option 'multicast_address' 'ff02:0:0:0:0:0:1:6'
	# option 'port' '6696'
	# option 'state_file' '/var/lib/babel-state'
	# option 'hello_interval' '4'
	# option 'wired_hello_interval' '20'
	# Enable  detection of idle networks.  This functonality is
	# experimental, don't use it unless you know what you are doing.
	## option 'idle_hello_interval' '0'
	# option 'diversity' '0,128'
	option 'smoothed-metric' '4'
	# option 'kernel_priority' '0'
	# Do not use this option unless you know what you are doing, as it can
	# cause persistent route flapping.
	## option 'duplication_priority' '0'
	# option 'carrier_sense' 'false'
	# option 'assume_wireless' 'false'
	# option 'no_split_horizon' 'false'
	# option 'parasitic' 'false'
	# option 'debug' '0'
	# Listen for connections from a front-end, e.g. on port 33123.
	## option 'local_server' '33123'
	# Keep unfeasible routes
	## option 'keep_unfeasible' 'false'
	# Use the given kernel routing table for routes inserted by babeld.
	## option 'export_table' '0'
	# Export routes from the given kernel routing table.
	## option 'import_table' '0'
	# The configuration file is not necessary since you can do everything
	# from this file.
	option 'conf_file' '/etc/babeld.conf'
	option 'log_file' '/dev/null'

# You can use aliases (like lan, wlan) or real names (like eth0.0).
# If you use an alias, it must be already defined when babeld starts.
# Otherwise, the name is taken literally and the interface can be
# brought up later (useful for tunnels for instance).
# uncomment if you are not running nat on ge00
# Note there is a way to distribute ipv6 and not ipv4
# via babel on a natted interface

config interface ge00
option 'ignore' 'true'
config interface se00
option 'ignore' 'false'
config interface sw00
option 'ignore' 'false'
config interface sw10
option 'ignore' 'false'
config interface gw10
option 'ignore' 'false'
config interface gw00
option 'ignore' 'false'
# Strongly do not prefer 2.4ghz
config interface gw01
option 'ignore' 'false'
option 'rxcost' '384'
config interface gw11
option 'ignore' 'false'
	# option 'wired' 'auto'
	# option 'link_quality' 'auto'
	# option 'split_horizon' 'auto'
	# The default is 96 for wired interfaces, and 256 for wireless ones
	## option 'rxcost' '256'
	# The default is specified with the -h and -H command-line flags.
	## option 'hello_interval' '4'
	# This can be set to a fairly large  value,  unless significant
	# packet loss is expected.  The default is four times the hello
	# interval.
	## option 'update_interval' '16'

# A filter consists in a type ('in', 'out' or 'redistribute'), an action
# ('allow', 'deny' or 'metric xxx') and a set of selectors ('ip', 'eq',
# etc.).  See /etc/babeld.conf for more details.
# Here is a sample filter wich redistributes the default route if its
# protocol number is "boot", e.g. when it installed by dhcp.  It is
# disabled by default.
# Uncomment this if you are a default gw
config filter
	option 'ignore' 'true'
	# Type
	option 'type' 'redistribute'
	# Selectors: ip, eq, le, ge, neigh, id, proto, local, if
	option 'ip' '0.0.0.0/0' 
	option 'le' '0'
	option 'proto' '0'
	# Action 
	option 'action' 'metric 96'
# 	enable source specific routing for ipv6 only
config filter
	option 'ignore' 'true'
	# Type
	option 'type' 'redistribute'
	# Selectors: ip, eq, le, ge, neigh, id, proto, local, if
	option 'src_ip' '::/0' 
	option 'src_ge' '0'
	option 'proto' '0'
	# Action 
	option 'action' 'metric 96'
# 	These distribute all the routes on all the interfaces
#	For both ipv6 and ipv4
config filter
	option 'ignore' 'true'
	option 'type' 'redistribute'
	option 'if' 'ge00' 
	option 'action' 'metric 96'
config filter
	option 'ignore' 'false'
	option 'type' 'redistribute'
	option 'if' 'se00' 
	option 'action' 'metric 96'
config filter
	option 'ignore' 'false'
	option 'type' 'redistribute'
	option 'if' 'sw00' 
	option 'action' 'metric 256'
config filter
	option 'ignore' 'false'
	option 'type' 'redistribute'
	option 'if' 'sw10' 
	option 'action' 'metric 192'
config filter
	option 'ignore' 'false'
	option 'type' 'redistribute'
	option 'if' 'gw00' 
	option 'action' 'metric 256'
config filter
	option 'ignore' 'false'
	option 'type' 'redistribute'
	option 'if' 'gw10' 
	option 'action' 'metric 192'

